@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$minXs: 320px;
$maxXs: 480px;
$minSm: 481px;
$maxSm: 600px;
$minMd: 601px;
$maxMd: 768px;
$minLg: 769px;
$maxLg: 1024px;
$minXl: 1025px;
$maxXl: 1280px;
$min2xl: 1281px;

:root {
  --font-family: 'Lato';
  --h1-size: 40px;
  --h2-size: 19px;


  --text: #f4efe6;
  --background: #19140c;
  --primary: #d5c3a4;
  --secondary: #396c32;
  --accent: #55b076;
  --text-bold: #fff;
  --box-background: rgba(213, 195, 164, 0.05);

  &.isLight {
    --text: #19140b;
    --background: #f3efe7;
    --primary: #5b492a;
    --secondary: #9acd93;
    --accent: #4fab71;
    --text-bold: #000;
    --box-background: rgba(91, 73, 42, 0.05);
  }
}