.Portfolio {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;

  @media (min-width: $minXl) {
    flex-direction: row;
    gap: 50px;
    padding: 0 80px;
  }

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--box-background);

    @media (min-width: $minXl) {
      max-width: 40%;
      width: 100%;
      height: calc(100vh - 200px);
      position: sticky;
      top: 100px;
    }
  }

  &-me {
    display: flex;
    flex-direction: column;
  }

  &-subtitle {
    margin-top: 10px;
  }

  &-description {
    margin-top: 15px;
  }

  &-menu {
    display: none;

    @media (min-width: $minXl) {
      display: flex;
      text-transform: uppercase;
    }
  }

  &-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 70px;
  }

  &-links, &-switchers {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &-links, &-switchers {
    a, button {
      color: var(--text-bold);

      svg {
        width: 24px;

        path {
          fill: var(--text-bold);
        }
      }
    }

    @media (min-width: $minXl) {
      a, button {
        color: var(--text);

        svg {
          path {
            fill: var(--text);
          }
        }

        &:hover {
          color: var(--text-bold);

          svg {
            path {
              fill: var(--text-bold);
            }
          }
        }
      }
    }

    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }

  &-theme {
    .Portfolio-dark {
      display: flex;
    }

    .Portfolio-light {
      display: none;
    }

    &.isLight {
      .Portfolio-light {
        display: flex;
      }

      .Portfolio-dark {
        display: none;
      }
    }
  }

  &-content {
    @media (min-width: $minXl) {
      max-width: 60%;
      width: 100%;
      padding: 100px 0;
    }
  }

  &-sections {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;

    @media (min-width: $minXl) {
      margin-top: 0;
    }
  }
}